
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: crimson;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li {
    padding: 20px;
}

ul li a {
    text-decoration: none;
    color: bisque;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 80vh;

}

footer {
    background-color: crimson;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}