
{% extends 'layauts/base.html' %}
{% load static %}

{% block content %}
<div class="tarjetas-muestra">
    <div class="tarjeta">
        <img class="imagen-muestra" src="{% static 'media/fotografo.jpg' %}" alt="fotografo">
        <h3 class="titulo-imagen-tarjeta">imagen</h3>
        <p class="descripcion-imagen-tarjeta">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus esse numquam voluptas amet repudiandae. </p>   
    </div>
    <div class="tarjeta">
        <img class="imagen-muestra" src="{% static 'media/fotografo.jpg' %}" alt="fotografo">
        <h3 class="titulo-imagen-tarjeta">imagen</h3>
        <p class="descripcion-imagen-tarjeta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, voluptate in quas. Eaque, aut inventore!</p>   
    </div>
    <div class="tarjeta">
       <img class="imagen-muestra" src="{% static 'media/fotografo.jpg' %}" alt="fotografo">
        <h3 class="titulo-imagen-tarjeta">imagen</h3>
        <p class="descripcion-imagen-tarjeta">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  laboriosam sunt quas velit.</p>   
    </div>
    <div class="tarjeta">
        <img class="imagen-muestra" src="{% static 'media/fotografo.jpg' %}" alt="fotografo">
        <h3 class="titulo-imagen-tarjeta">imagen</h3>
        <p class="descripcion-imagen-tarjeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. fugiat impedit laudantium! Tempora exercitationem sunt dolore inventore.</p>   
    </div>
    <div class="tarjeta">
        <img class="imagen-muestra" src="{% static 'media/fotografo.jpg' %}" alt="fotografo">
        <h3 class="titulo-imagen-tarjeta">imagen</h3>
        <p class="descripcion-imagen-tarjeta">Lorem ipsum dolor, sit amet consectetur adipisicing elitodit expedita quaerat ipsum ea maiores excepturi nulla dolore adipisci.</p>   
    </div>
    <div class="tarjeta">
        <img class="imagen-muestra" src="{% static 'media/fotografo.jpg' %}" alt="fotografo">
        <h3 class="titulo-imagen-tarjeta">imagen</h3>
        <p class="descripcion-imagen-tarjeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vem officia qui repellat, doloremque magni, laborum recusandae reiciendis?</p>   
    </div>
</div>




{% endblock  %}